$buttonSectionHeight: 80px;
.PageListContainer{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   overflow: hidden;
   padding: 0;
}
.PageListNavContainer{
   position: absolute;
   top: 0;
   bottom: calc(100% - #{$buttonSectionHeight});
   left: 0;
   right: 0;
}
.ListContainer{
   position: absolute;
   top: $buttonSectionHeight;
   bottom: 0;
   left: 0;
   right: 0;
   overflow-y: auto;
}

.NavContainer{
   display: flex;
   justify-content: space-around;
   flex-flow: row;
   height: 100%;
   margin: 0;
   padding: 0;
}
.NavLink{
   text-decoration: none;
}
.NavItem{
   color: #fff;
}
