.Container{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: scroll;
  z-index: 10000000;
}

.Text{
  display: block;
  padding: 1em;
  z-index: 100000000;
  color: white;
  background: #999;
  &:hover{
    background: #888;
  }
}
