.ListContainer{
   list-style-type: none;
   margin: 0;
   padding: 0;
   height: 100%;
   overflow-y: auto;

   /* Width */
   &::-webkit-scrollbar {
     width: 10px;
   }

   /* Track */
   &::-webkit-scrollbar-track {
      background: none;
      background: rgba(255, 255, 255, 0.1);
      margin: 1px 0;
   }
   
   /* Handle */
   &::-webkit-scrollbar-thumb {
      background: #888;

      &:hover{
         background: #aaa;
      }
      &:active{
         background: #888;
      }
   }
}
