.ListContainer{
   list-style-type: none;
   margin: 0;
   padding: 0;
   max-height: 100%;
   overflow-y: auto;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
   box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 1);
   /* Width */
   &::-webkit-scrollbar {
     width: 10px;
   }
   /* Track */
   &::-webkit-scrollbar-track {
      background: none;
      background: rgba(255, 255, 255, 0.1);
      margin: 1px 0;
   }
   /* Handle */
   &::-webkit-scrollbar-thumb {
      background: #888;

      &:hover{
         background: #aaa;
      }
      &:active{
         background: #888;
      }
   }
}
.PrimaryName{
   font-size: 1.4em;
}
.SecondaryName{
   font-size: 1em;
}
