.MusicInfoContainer{
   $containerHeight: 200px;
   $height: 100px;
   max-width: 400px;
   display: flex;
   padding: calc((#{$containerHeight} - #{$height}) / 2) 0;
   height: $containerHeight;
   flex-direction: column;
   justify-content: space-between;
   color: white;
   font-size: 18px;
   overflow: hidden;
}
.MusicInfoTitle{
   margin: 0;
   width: max-content;
   font-size: 1.4em;
   font-weight: bold;
   text-transform: capitalize;
}
.MusicInfoArtist{
   margin: 0;
   width: max-content;
   font-size: 1em;
   font-weight: 500;
   text-transform: capitalize;
}
.MusicInfoAlbum{
   margin: 0;
   width: max-content;
   font-size: 1em;
   font-weight: normal;
   text-transform: capitalize;
}
